---
layout: default
---

<div class="home">
  <a class="rss-link" href="{{ "/feed.xml" }}">RSS Feed</a>
  <h1 class="page-heading">VÕSA projekti uudised</h1>

  <ul class="post-list">
    {% for post in paginator.posts %}
      <li>
        <h2>
          <a class="post-link" href="{{ post.url }}">{{ post.title }}</a>
        </h2>
        
        <div class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</div>

        <div class="post-excerpt">
          {{ post.excerpt }}
          <p>
            <a class="post-link" href="{{ post.url }}">Read More &raquo;</a>
          </p>
        </div>
      </li>
    {% endfor %}
  </ul>
  
  <!-- Pagination links -->
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">PREV</a>
  {% else %}
    <span class="previous">PREV</span>
  {% endif %}
  <span class="page_number ">{{ paginator.page }} of {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">NEXT</a>
  {% else %}
    <span class="next ">NEXT</span>
  {% endif %}
</div>

</div>
