<header class="header">
  <div class="wrapper">
    <a class="site-title" href="/">{{ site.title }}</a>
    <nav class="site-nav">
      {% for page in site.pages %}
        {% if page.title and page.public %}
        <a class="page-link" href="{{ page.url }}">{{ page.title }}</a>
        {% endif %}
      {% endfor %}
    </nav>
  </div>
</header>
